---
name: renovate-config-validator
on:
  pull_request:
    branches:
      - main
    paths:
      - .github/renovate.json5
      - .github/workflows/renovate-config-validator.yaml
      - "**.json5"
  push:
    branches:
      - main
    paths:
      - .github/renovate.json5
      - .github/workflows/renovate-config-validator.yaml
      - "**.json5"
  workflow_dispatch:
permissions:
  contents: read
jobs:
  validate_renovate_config:
    name: Validate Renovate Config
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - .github/renovate.json5
          - default.json5
          - managers.json5
          - package-rules-groupings.json5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        # yamllint disable-line rule:line-length
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027 # v2.0.0
        with:
          config_file_path: ${{ matrix.config }}
